/* Color scheme:
   light blue: rgb(47,109,166)
   dark blue: rgb(0,79,148)
*/
html {background-color: rgb(47,109,166);}
.box-shadow {box-shadow: 20px 10px 10px rgb(0,79,148);}
h1, h2, h3 {text-align: center;}
a:link {
    text-decoration: none;
    color:black;
}
a:hover {text-decoration:underline}
a:visited {color:black}
ul,ol{list-style-position: inside;}

.box {
    width:1000px;
    height: 600px;
}
.square-box{
    width:600px;
    height:600px;
}
.box-wide{width: 1000px;}
.center{text-align:center;}
.semi-white-bg{background-color: rgba(255,255,255,0.5);}
.semi-white-box{background-color: rgba(255,255,255,0.7)}
.white-bg{background-color: white;}

.white-bg {background-color: white;}
.green-bg {background-color: #D1FFD8;}
.blue-bg {background-color: #CCBDFC;}
.radius-box {
    border: 2px solid rgb(0,79,148);
    border-radius: 2em;
    padding: 1em;
}
.big {font-size:2em;}
.small {font-size: 0.7em;}

.big-h1 h1 {
    font-size: 4em;
}
/* Contenido futuro oculto*/
/* .step.future { */
/*     opacity: 0; */
/* } */
/* .step.present { */
/*     -webkit-transition: 0.5s; */
/*     -moz-transition:    0.5s; */
/*     -ms-transition:     0.5s; */
/*     -o-transition:      0.5s; */
/*     transition:         0.5s; */
/*     opacity: 1; */
/* } */

.impress-supported .fallback-message {display: none;}

#menu {
    position: absolute;
    margin-top:50px;
    margin-left:10px;
    padding:15px;
    background-color: rgba(150,150,250,0.3);
    border-radius: 30px;
    border:1px solid rgb(200,200,200);
}
#menu:hover {background-color: rgba(150,150,250,1);}

/* TitlePage */
#titlePage {
    background-image:url(img/profile.jpg);
    background-position: 30px 30px;
    background-repeat: no-repeat;
}
#titlePage .titulo {
    font-size: 30px;
    margin-left: 100px;
    margin-top: 40px;
    text-align: center;
}
.titlePage-info {text-align: center;}
.titlePage-info .bigger {
    font-size: 1.7em;
    padding: 1em 5em;
}
.titlePage-info .smaller {font-size: 1.3em;}
.titlePage-info .date {float:right;}
.titlePage-info .name {float:left;}

#banner h1 {font-size:3.7em;}

.intro img {margin: 1em;}

/* Index */
#index,
#agradecimientos,
#conclusiones,
#trabajo-futuro,
#objetivo {background-color: rgba(255,255,255,0.7);}

#objetivo p,
#objetivo2 p {
    font-size: 1.8em;
    text-align:center;
}

#objetivo li,
#objetivo2 li{font-size: 1.6em;}

#index > ol{
    font-size: 1.6em;
    margin-left: 8em;
    margin-top: 2em;
}

.exp p{
    font-size: 3em;
    margin-top:3em;
}

#modelo img {
    float:left;
    margin-left:1em;
}

#param {width:32em;}
#param ul {
    list-style-type: square;
    text-align: center;
}
#param .small {color: rgb(50,50,50);}
#param a {color: rgb(50,50,50);}

#shifts-table,
#shifts-table th,
#shifts-table td {border: 1px solid black;}
#shifts-table {
    width: 20em;
    text-align: center;
    font-size: 2em;
    border-collapse: collapse;
}
#shifts-table td {min-width: 10em;}

#isot-conclusiones{
    font-size:2em;
    width: 28em;
}

.oval1, .oval2 {
    border-radius:5em;
    width:20em;
    height:8em;
}    
.oval1{
    background-color:rgb(240,240,240);
    float:right;
}
.oval2{
    background-color:rgb(220,220,220);
    float:left;
}
.oval3 {
    border-radius:3em;
    width:22em;
    height:7em;
    background-color: rgb(180,220,180);
}
.oval4 {
    border-radius:2em;
    width:15em;
    height:7em;
    background-color: rgba(180,220,180,0.8);
}

#conclusiones > ul {
    font-size: 1.8em;
    margin: 2em 3em;
}

#agradecimientos > ul {
    font-size:1.8em;
    margin-top:3em;
}

.thanks {
    font-size: 4em;
    width: 10em;
    padding:0.8em;
    border: 1px solid black;
    border-radius: 1em;
    background-color: rgba(0,79,148,0.9);
}

.thanks .email {
    font-size:0.4em;
    float:right;
}