html {background-color: #DDDDDD;}
h1, h2, h3 {text-align: center;}
a:link {
    text-decoration: none;
    color:black;
}
a:hover {text-decoration:underline}
a:visited {color:black}
ul,ol{list-style-position: inside;}

.box {
    width:60em;
    height: 40em;
}

.long-box {
    width:30em;
    height:40em;
}

.wide{width: 60em;}
.widish{width:40em;}
.narrow{width:20em;}
.center{text-align:center;}
.semi-white-bg{background-color: rgba(255,255,255,0.5);}

.box-shadow {box-shadow: 1em 0.5em 0.5em #AAAAAA;}
.white-box {background-color: white;}
.green-box {background-color: #D1FFD8;}
.blue-box {background-color: #CCBDFC;}
.white-box, .green-box, .blue-box {
    border: 1px solid #777777;
    border-radius: 2em;
    padding: 1em;
}
.big {font-size:2em;}
.small {font-size: 0.7em;}

/* Contenido futuro oculto*/
/* .step.future { */
/*     opacity: 0; */
/* } */
/* .step.present { */
/*     -webkit-transition: 0.5s; */
/*     -moz-transition:    0.5s; */
/*     -ms-transition:     0.5s; */
/*     -o-transition:      0.5s; */
/*     transition:         0.5s; */
/*     opacity: 1; */
/* } */

.impress-supported .fallback-message {display: none;}

#menu {
    position: absolute;
    margin-top:50px;
    margin-left:10px;
    padding:15px;
    background-color: rgba(150,150,250,0.3);
    border-radius: 30px;
    border:1px solid rgb(200,200,200);
}
#menu:hover {background-color: rgba(150,150,250,1);}

/* Portada */
#portada {
    background-image:url(img/logo.png);
    background-position: 20px 20px;
    background-repeat: no-repeat;
}
#portada .titulo {
    font-size: 30px;
    margin-left: 200px;
    margin-top: 40px;
    text-align: center;
}
#portada .info {
    margin: 70px 50px;
    text-align: center;
}


/* Esquema */
#esquema,
#agradecimientos,
#conclusiones,
#trabajo-futuro {background-color: rgba(255,255,255,0.7);}
#esquema > ol {
    font-size: 1.6em;
    margin-left: 8em;
    margin-top: 2em;
}

#param {width:32em;}
#param ul {
    list-style-type: square;
    text-align: center;
}
#param .small {color: rgb(50,50,50);}
#param a {color: rgb(50,50,50);}

#shifts-table,
#shifts-table th,
#shifts-table td {border: 1px solid black;}
#shifts-table {
    width: 20em;
    text-align: center;
    font-size: 2em;
    border-collapse: collapse;
}
#shifts-table td {min-width: 10em;}

#isot-conclusiones{
    font-size:2em;
    width: 28em;
}

.oval1, .oval2 {
    border-radius:5em;
    width:20em;
    height:8em;
}    
.oval1{
    background-color:rgb(240,240,240);
    float:right;
}
.oval2{
    background-color:rgb(220,220,220);
    float:left;
}
